.deal {
	position: relative;
	width: 350px;
   min-height: 478px;
	background-color:	#F8F8F8;
	& .galleryWrapper {
		& .galleryDiscount {
			position: absolute;
			left: 13px;
			 top: 13px;
			background-color: #b23a48;
			padding: 9px;
			border-radius: 15%;
			color: white;
		}
		& .grandSpaImg {
			width: 100%;
		}
	}
	& .infoWrapper {
		padding: 7px 32px 16px 7px;
		& .tags {
			display: flex;
			
			ul {
				display: flex;
				align-items: center;
				gap: 12px;
				margin: 0 !important;
				padding: 0 !important;
			}
			li {
				list-style-type: none;
				color: #bd6093;
				border: 1px solid #bd6093 ;
				font-size: 14px;
				 padding: 3px;
				 border-radius: 7px;
			}
			li:nth-child(2) {
				color:#b6c892;
				border: 1px solid #b6c892 ;
			}	
		}
		& .title {
			margin-top: 5px;
			font-size: 15px;
			font-weight: 700;
			min-height: 48px;
		}
		& .subtitle {
			font-size: 13px;
		}
		& .location {
			display: flex;
			align-items: center;
			gap: 4px;
			margin-top: 9px;
			font-size: 12px;
			& .locationImg {
				width: 17px;
				height: 19px;
			}
		}
		& .information {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 17px;
			& .priceWrapper {
				& .priceText {
					font-weight: bold;
				}
				& .price {
					font-weight: bold;
					color: #8b0a47;
					font-size: 26px;
				}
				& .discount {
					text-decoration: line-through;
					font-weight: bold;
					font-size: 14px;
				}
			}
			& .additionalWrapper {
				display: flex;
				flex-direction: column;
				gap: 10px;
				& .person, .night, .data {
					display: flex;
					align-items: center;
					gap: 11px;
				}
			}
		}	
	}
}

@media (max-width: 768px) {
	.deal {
		width: 400px;
	}
}


