.promo {
	& .wrapper {
		display: flex;
		padding: 40px 0;
		gap: 20px;
		width: 100%;
		& .search {
			min-width: 30%;
		}
		& .cards {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 17px;
		}
	}
}

@media (max-width: 1024px) {
	.promo {
		& .wrapper {
			display: flex;
			flex-direction: column;
			& .search {
				width: 100%;
			}
		& .cards {
				width: 100%;
				display: grid;
				grid-template-columns: 1fr 1fr;
			}
		}
	}
}

@media (max-width: 768px) {
	.promo {
		& .wrapper {
			display: flex;
			flex-direction: column;
			& .search {
				width: 100%;
			}
		& .cards {
			display: grid;
			width: 100%;
			grid-template-columns: 1fr;
			justify-items: center;
			}
		}
	}
}



